* {
  box-sizing: border-box;

  transition: 0.2s;
}
.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  left: 90px;
  top: 40px;
}
.nav li {
  padding: 10px;
  border-radius: 25px;
  border: 1px gray solid;
}
.page-title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500;
  top: 190px;
  display: block;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}
img {
  width: 100%;
  object-fit: cover;
}
article {
  font-family: monospace;
  text-transform: capitalize;
  margin: 40px;
}
.themeChangeBtn {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 130px;
  height: 50px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  cursor: pointer;

  background-color: #333;
  color: #fff;
}

body.dark {
  background-color: rgb(20, 20, 20);
}
body.dark .nav {
  color: white;
}
body.dark .page-title {
  color: aliceblue;
}
body.dark article {
  color: wheat;
}
body.dark .themeChangeBtn {
  background-color: #fff;
  color: #333;
}
